<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>PokéAPI Flask</title>
</head>
<body>
    <h1>Consultá un Pokémon:</h1>
    <form method="POST">
        <input type="text" name="pokemon_name" placeholder="Ejemplo: pikachu" required>
        <button type="submit">Buscar</button>
    </form>

    {% if pokemon %}
        {% if pokemon.error %}
            <p style="color:red;">{{ pokemon.error }}</p>
        {% else %}
            <p>Nombre: {{ pokemon.nombre }}</p>
            <p>Altura: {{ pokemon.altura }}</p>
            <p>Peso: {{ pokemon.peso }}</p>
            {% if pokemon.imagen %}
                <img src="{{ pokemon.imagen }}" alt="Imagen de {{ pokemon.nombre }}">
            {% endif %}
        {% endif %}
    {% endif %}
</body>
</html>


