
<!DOCTYPE html>
<html>
<head><title>PokéAPI Flask</title></head>
<body>
  <h1>Consultá un Pokémon:</h1>
  <input id="nombre" placeholder="ej. bulbasaur">
  <button onclick="buscar()">Buscar</button>
  <pre id="resultado"></pre>
  <script>
    async function buscar() {
      const name = document.getElementById("nombre").value;
      const resp = await fetch(`/pokemon/${name}`);
      const data = await resp.json();
      document.getElementById("resultado").textContent = JSON.stringify(data, null, 2);
    }
  </script>
</body>
</html>
