<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <title>PokéAPI Flask</title>
</head>
<body>
    <h2>Consultá un Pokémon:</h2>
    <input type="text" id="pokemon-name" placeholder="Ejemplo: pikachu" />
    <button onclick="buscarPokemon()">Buscar</button>

    <pre id="resultado"></pre>
    <img id="pokemon-img" src="" alt="Imagen Pokémon" style="display:none; width: 150px;"/>

    <script>
        async function buscarPokemon() {
            const nombre = document.getElementById('pokemon-name').value.trim();
            if (!nombre) return alert('Ingrese el nombre de un Pokémon');

            const res = await fetch(`/api/pokemon/${nombre}`);
            const data = await res.json();

            if (res.status !== 200) {
                document.getElementById('resultado').textContent = data.error;
                document.getElementById('pokemon-img').style.display = 'none';
                return;
            }

            document.getElementById('resultado').textContent = JSON.stringify(data, null, 2);

            const img = document.getElementById('pokemon-img');
            img.src = data.imagen;
            img.style.display = 'block';
        }
    </script>
</body>
</html>




